<h1>Forgot Your Password</h1>

<%= form_with url: password_reset_path do |form| %>

  <div class="mb-3">
    <%= form.label :email, "email"%>
    <%= form.text_field :email, class: "form-control", placeholder: "travis@gmail.com" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Reset Password", disable_with: 'Submiting...', class: "btn btn-primary"%>
  </div>

<% end %>